<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732161004089-cb2llncsg4po89a47bhci7i6gaculg1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732161004089-cb2llncsg4po89a47bhci7i6gaculg1n</string>
	<key>API_KEY</key>
	<string>AIzaSyB_zPgBdokMwUYmkpbdZ4E_pgpT2Wx0t60</string>
	<key>GCM_SENDER_ID</key>
	<string>732161004089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Imaev.Dmitrii.test-for-Aezakmi-Group</string>
	<key>PROJECT_ID</key>
	<string>test-for-aezakmi-group</string>
	<key>STORAGE_BUCKET</key>
	<string>test-for-aezakmi-group.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732161004089:ios:b0d1036d08b3acdf1133e8</string>
</dict>
</plist>